extends layout

block content

  input(ng-model="username")
  input(ng-model="password")
  button(type="button",ng-click="login()") login
  button(type="button",ng-click="getData()") getData
  span(uploadify-directive="uploadConfig",id="upload-btn")
  input(ng-model="toUserId")
  button(type="button",ng-click="whisper()") whisper
  button(type="button",ng-click="broadcast()") broadcast